//global.scss
@use "./mixins" as *;
@use "./variables" as *;
@use "./typography" as *;

// Global style reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family-base;
  color: $color-primary-text;
  font-weight: $font-weight-regular;
  line-height: 1.5; // Consistent line height
}

html {
  font-size: 16px; // Base font size
}

body {
  font-family: $font-family-base;
  color: $color-primary-text;
  background-color: $color-primary-bg;
}

h1 {
  @include h1-page-header;
}

h2,
.label {
  @include h2-section-header;
}

h3,
.h3 {
  @include h3-sub-header;
}

h4 {
  @include h4-labels-and-buttons;
}

p {
  @include p-body-copy;
}

// Explicit font family for inputs, text areas, and selects
input,
textarea,
select {
  font-family: $font-family-base;
}

.text-secondary {
  color: $color-primary-label;
}

a,
label,
button {
  text-decoration: none;
  color: inherit;
}
li {
  list-style-type: none;
}

.error {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #d22d2d;
  margin-bottom: 16px;
  text-align: center;
}
.error-message {
  display: flex;
  align-items: center;
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.error-icon {
  margin-right: 0.5rem;
  width: 20px;
  height: 20px;
}

.input--error {
  border-color: red;
}
