//typography.scss

@use "./variables" as *;
@use "./mixins" as *;

// Typography mixins

// h1 Page Header
@mixin h1-page-header {
  font-family: $font-family-base;
  font-size: 2.125rem;
  line-height: 2rem;
  font-weight: $font-weight-bold;
  padding-top: $spacing-base-unit * 3;
  padding-bottom: $spacing-base-unit * 2;
}

// h2 Section Header
@mixin h2-section-header {
  font-family: $font-family-base;
  font-size: 1.75rem;
  line-height: 1.25rem;
  font-weight: $font-weight-bold;
  padding-top: $spacing-gutter-mobile;
}

// h3 Subheader
@mixin h3-sub-header {
  font-family: $font-family-base;
  font-size: 1.125rem;
  line-height: 1.125rem;
  font-weight: $font-weight-bold;
  padding-top: $spacing-gutter-mobile;
}

// Paragraph Body Copy
@mixin p-body-copy {
  font-family: $font-family-base;
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: $font-weight-regular;
  padding-top: $spacing-gutter-mobile;
}
