//HomeTree.scss
@use "../styles/variables" as *;

.tree {
  background: $color-primary-bg;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $color-primary-bg;
    z-index: 10;
    display: flex;
    justify-content: center;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    padding: $spacing-base-unit;
    text-align: center;
  }

  &__header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $max-width-mobile;
    width: 100%;
    padding: 0 $spacing-gutter-mobile;
    max-height: 4rem;
  }
  &__header-logo-container {
    display: flex;
    flex-direction: row;
    img {
      max-height: 4rem;
    }
  }
  &__progress-circle {
    width: 3rem;
    height: 3rem;
  }

  &__content {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: $spacing-base-unit * 2;
    width: 100%;
    max-width: $max-width-mobile;
  }

  &__section {
    &-title {
      padding-left: $spacing-gutter-mobile;
    }

    &--Beginner,
    &--Intermediate,
    &--Advanced {
      padding-bottom: $spacing-base-unit * 2;
      border-bottom: 0.0625rem dashed $color-primary-label;
    }
  }

  &__nodes {
    display: flex;
    flex-direction: column;
    gap: $spacing-gutter-mobile;
    margin-top: $spacing-base-unit * 2;
  }
}
