//ProfileSettings.scss
@use "../styles/variables" as *;
.profile-settings {
  background: #fff;
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: $spacing-gutter-mobile;
  width: calc(100% - $spacing-gutter-mobile * 2);
  max-width: 480px;

  &__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__avatar {
    max-height: 7rem;
    max-width: 7rem;
    align-self: center;
  }

  &__title {
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: $spacing-gutter-mobile;
  }
}
