// Buttons.scss
@use "../styles/variables" as *;

.button {
  font-family: $font-family-base;
  font-size: 0.75rem;
  align-self: stretch;
  border-radius: $button-border-radius;
  min-height: $button-min-height;
  width: 100%;
  gap: $button-gap;
  overflow: hidden;
  border: none;
  cursor: pointer;
  font: inherit;
  white-space: nowrap;
  text-align: center;

  &--primary {
    background: $color-primary-cta;
    color: $color-primary-bg;

    &:hover {
      opacity: 0.9;
    }
  }

  &--secondary {
    background: transparent;
    color: $color-primary-cta;
    border: 0.125rem solid $color-primary-cta;

    &:hover {
      opacity: 0.9;
    }
  }

  &--tertiary {
    background: transparent;
    color: $color-primary-cta;

    &:hover {
      opacity: 0.9;
    }
  }
  &--tertiary-delete {
    background: transparent;
    color: $color-error;

    &:hover {
      opacity: 0.9;
    }
  }

  &--delete {
    background: $color-error;
    color: $color-primary-bg;

    &:hover {
      opacity: 0.9;
    }
  }

  &--hidden {
    background: transparent;
    color: transparent;
    border: none;
  }
}
