//FormInput.scss
@use "../styles/variables" as *;

.form {
  display: flex;
  flex-direction: column;

  &__label {
    font-weight: $font-weight-bold;
    margin-bottom: $spacing-base-unit;
  }

  &__input {
    padding: $spacing-base-unit $spacing-gutter-mobile;
    border: 0.0625rem solid $color-secondary-field-bg;
    border-radius: $button-border-radius;
    background: $color-secondary-field-bg;
    font-family: $font-family-base;
    font-size: 1rem; // Matches $font-size-small
    line-height: 1.4;
    color: $color-primary-text;
    width: 100%;

    &:focus {
      outline: 0.125rem solid $color-primary-cta;
      outline-offset: $spacing-base-unit;
    }

    &::placeholder {
      color: $color-primary-label;
      font-style: italic;
    }

    &--error {
      border-color: $color-error;
    }
  }

  &__error {
    color: $color-error;
    font-size: 0.75rem;
    margin-top: $spacing-base-unit;
    display: flex;
    align-items: center;

    &-icon {
      margin-right: $spacing-base-unit;
      width: 1.25rem;
      height: 1.25rem;
    }
  }
}
