// NavBar.scss
@use "../styles/variables" as *;

.navbar {
  background: $color-primary-bg;
  display: flex;
  justify-content: center;
  min-height: 5.5rem;
  width: 100%;
  gap: $spacing-base-unit;
  padding: $spacing-base-unit $spacing-base-unit $spacing-base-unit * 3;
  z-index: 10;
  box-shadow: 0 -0.125rem 0.625rem rgba(0, 0, 0, 0.1);

  &__container {
    display: flex;
    max-width: $max-width-mobile;
    width: 100%;
    gap: $spacing-base-unit;
  }

  &__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-decoration: none;
    background: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    padding: $spacing-base-unit;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    margin-bottom: 0.25rem;
    opacity: 1;
    transition: filter 0.3s ease, opacity 0.3s ease;

    &--active {
      width: 2.5rem;
      height: 2.5rem;
      padding: 0.25rem;
      border: 0.125rem solid $color-secondary-links;
      border-radius: 10%;
    }
  }
}
