// NavBar.scss
@use "../styles/variables" as *;

.navbar {
  background: $color-primary-bg;
  display: flex;
  justify-content: center;
  min-height: 5.5rem;
  width: 100%;
  gap: $spacing-base-unit;
  padding: $spacing-base-unit $spacing-base-unit 2rem;
  z-index: 10;
  box-shadow: 0 -0.125rem 0.625rem rgba(0, 0, 0, 0.1);

  &__container {
    display: flex;
    max-width: $max-width-mobile;
    width: 100%;
    gap: $spacing-base-unit;
  }

  &__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    text-decoration: none;
    background: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }

    &--active {
      .navbar__label {
        color: $color-primary-cta;
      }

      .navbar__icon {
        filter: brightness(0) saturate(100%) invert(20%) sepia(97%)
          saturate(6000%) hue-rotate(200deg) brightness(85%) contrast(90%);
      }
    }
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 0.25rem;
    filter: brightness(0) saturate(100%) invert(85%) sepia(11%) saturate(400%)
      hue-rotate(210deg) brightness(90%) contrast(85%);
    opacity: 1;
    transition: filter 0.3s ease, opacity 0.3s ease;

    &--active {
      filter: brightness(0) saturate(100%) invert(20%) sepia(97%)
        saturate(6000%) hue-rotate(200deg) brightness(85%) contrast(90%);
    }
  }

  &__label {
    font: $font-weight-regular 0.625rem/1.4 $font-family-base;
    margin-top: calc($spacing-base-unit / 2);
    letter-spacing: 0.0094rem;
    color: $color-primary-label;
    transition: color 0.3s ease;

    &.navbar__label--active {
      color: $color-primary-cta;
      font: $font-weight-bold 0.625rem/1.4 $font-family-base;
    }
  }
}
