//PoseCarousel.scss
@use "../styles/variables" as *;

.pose-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__carousel {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh; // Set wrapper height to 30% of viewport
    overflow: hidden;
    position: relative; // Contain absolute-positioned image
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; // Ensures the image covers the wrapper area
    object-position: center; // Centers the image
  }

  &__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $spacing-base-unit;
    margin-top: $spacing-base-unit * 2;
  }

  &__dot {
    border: none;
    border-radius: $button-border-radius;
    opacity: 0.1;
    width: 0.5rem;
    height: 0.5rem;
    cursor: pointer;
    background: $color-primary-cta;

    &:focus-visible {
      outline: 0.125rem solid $color-primary-cta;
      outline-offset: 0.125rem;
    }

    &--active {
      background: $color-primary-cta;
      opacity: 1;
    }
  }

  &__caption {
    color: $color-primary-label;
    font-family: $font-family-base;
    font-size: 0.75rem;
    font-weight: $font-weight-regular;
    line-height: 1.4;
    text-align: center;
    margin-top: $spacing-base-unit;
  }
}
