//PoseCarousel.scss
.pose-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; // Stretch the widget to fill the parent container

  &__carousel {
    display: flex;
    flex-direction: column;
    width: 100%; // Ensure the carousel takes full width
    height: 100%; // Full height for the cover effect
  }

  &__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh; // Adjust for desired vertical space
    overflow: hidden; // Prevent any overflow from images
  }

  &__image {
    width: 100%; // Take full width
    height: 100%; // Take full height
    object-fit: cover; // Ensure the image covers the container area
    object-position: center; // Center the image within the container
  }

  &__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
  }

  &__dot {
    border: none;
    border-radius: 24px;
    opacity: 0.1;
    width: 8px;
    height: 8px;
    cursor: pointer;
    background: #006ffd;

    &:focus-visible {
      outline: 2px solid #006ffd;
      outline-offset: 2px;
    }

    &--active {
      background: #006ffd;
      opacity: 1;
    }
  }

  &__caption {
    color: #71727a;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.12px;
    text-align: center;
    margin-top: 8px;
  }
}
