//SearchBar.scss
@use "../styles/variables" as *;

.search-bar {
  display: flex;
  align-items: center;
  border-radius: $button-border-radius;
  background: $color-secondary-field-bg;
  max-width: $max-width-mobile;
  width: 100%;
  margin: $spacing-base-unit auto 0;
  padding: $spacing-base-unit * 1.5 $spacing-base-unit * 2;
  gap: $spacing-base-unit * 2;

  &__icon {
    width: 1rem;
    aspect-ratio: 1;
  }

  &__input {
    background: transparent;
    border: none;
    flex: 1;
    min-width: 15rem;
    font: $font-weight-regular 0.875rem/1.2 $font-family-base;
    color: $color-primary-text;

    &:focus {
      outline: none;
      outline-offset: 0.125rem;
    }

    &::placeholder {
      color: $color-primary-label;
      font-style: italic;
    }
  }
}
