@use "../styles/variables" as *;

.splash-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;

  &__image-wrapper {
    flex-grow: 1;
    display: flex;
  }
  &__image {
    object-fit: contain;
    width: 100%;
  }
  &__ctas {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
  }
}
