//SplashScreen.scss
@use "../styles/variables" as *;
@use "../styles/mixins" as *;

@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.splash-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-primary-bg;

  &__content-wrapper {
    max-width: $max-width-mobile;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
  }

  &__image {
    object-fit: contain;
    width: 100%;
    max-width: 100%;
  }

  &__cta-buttons {
    display: flex;
    flex-direction: column;
    gap: $spacing-base-unit * 2;
    width: 100%;
    padding: $spacing-base-unit * 2;
    align-items: center;
    margin-bottom: $spacing-base-unit * 3;
  }
}
