.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh; // Full height of the viewport
  overflow: hidden; // Prevent body overflow; scrolling managed inside the content area
}

.app-content {
  flex: 1; // Allow content to grow and take remaining space
  overflow-y: auto; // Enable vertical scrolling for content
  -webkit-overflow-scrolling: touch; // Smooth scrolling on iOS
}

.nav-bar {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: #fff; // Ensure it matches your app theme
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); // Optional shadow for a floating effect
  z-index: 100; // Ensure it stays above the content
}
img {
  max-width: 4rem;
  max-height: 4rem;
}
